/* Prettified by Source 2 Viewer 19.2.0.0 - https://valveresourceformat.github.io */

.major-store-balance-popup
{
	width: 640px;
	padding: 0px;
}

.major-store-balance-popup .PopupButtonRow
{
	margin: 0px;
}

.major-store-balance-popup__banner
{
	width: 100%;
	background-size: 110% 301%;
	background-position: top;
	background-repeat: no-repeat;
}

.major-26 .major-store-balance-popup__banner
{
	background-size: 120% 200%;
	background-position: 50% 0px;
}

.major-store-balance-popup__banner__content
{
	width: 100%;
	flow-children: down;
	padding: 32px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba( 0, 0, 0, 0 ) ), to( rgba( 7, 71, 51, 0.651 ) ) );
}

.major-store-balance-popup__logo
{
	horizontal-align: center;
	height: 64px;
}

.major-store-balance-popup__title
{
	font-size: 20px;
	text-shadow: 0px 0px 12px 2 rgba(0, 0, 0, 0.5);
	color: rgb(226, 219, 176);
	horizontal-align: center;
	vertical-align: center;
	letter-spacing: 1.5px;
	font-size: 28px;
	color: white;
	text-transform: uppercase;
}

.major-store-balance-popup__balance.popup-major-store__top-bar__balance
{
	horizontal-align: center;
	margin: 8px;
}

.major-store-balance-popup__desc
{
	horizontal-align: center;
	width: 55%;
	font-size: 16px;
	color: white;
	text-align: center;
	vertical-align: top;
}

.major-store-balance-popup__button
{
	horizontal-align: center;
	background-color: positiveColor;
	border-radius: 24px;
	padding: 5px 16px;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.major-store-balance-popup__button Label
{
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	font-family: Stratum2, "Arial Unicode MS";
	font-weight: bold;
	transform: translateY( 1px);
	color: white;
	font-size: 14px;
	max-height: 20px;
}

.major-store-balance-popup__button:hover
{
	brightness: 1.4;
}

