path=maps/templates/env_sun_entity_template.nav crc=67CE0298 size=1.10KB size_in_bytes=1124
path=maps/templates/env_sun_entity_template.vmap_c crc=508FFA59 size=5.78KB size_in_bytes=5920
path=maps/templates/env_sun_entity_template/cubemaps/env_cubemap_array.vtex_c crc=C62C27A7 size=513.02KB size_in_bytes=525336
path=maps/templates/env_sun_entity_template/entities/default_ents.vents_c crc=D12ACECF size=3.79KB size_in_bytes=3886
path=maps/templates/env_sun_entity_template/entities/unnamed_303.vmdl_c crc=F9C2189A size=1.91KB size_in_bytes=1959
path=maps/templates/env_sun_entity_template/entities/unnamed_303.vmesh_c crc=10E7CF58 size=1.05KB size_in_bytes=1072
path=maps/templates/env_sun_entity_template/entities/unnamed_303.vphys_c crc=D0B363F0 size=2.50KB size_in_bytes=2565
path=maps/templates/env_sun_entity_template/entities/unnamed_310.vmdl_c crc=723709B8 size=1.91KB size_in_bytes=1959
path=maps/templates/env_sun_entity_template/entities/unnamed_310.vmesh_c crc=10E7CF58 size=1.05KB size_in_bytes=1072
path=maps/templates/env_sun_entity_template/entities/unnamed_310.vphys_c crc=984B6BE7 size=2.49KB size_in_bytes=2545
path=maps/templates/env_sun_entity_template/lightmaps/debug_chart_color.vtex_c crc=350313A6 size=1.00MB size_in_bytes=1049512
path=maps/templates/env_sun_entity_template/lightmaps/directional_irradiance.vtex_c crc=3EA7C66B size=1.00MB size_in_bytes=1049512
path=maps/templates/env_sun_entity_template/lightmaps/direct_light_shadows.vtex_c crc=F58E8457 size=1.06KB size_in_bytes=1084
path=maps/templates/env_sun_entity_template/lightmaps/irradiance.vtex_c crc=1FE2E67C size=1.00MB size_in_bytes=1049512
path=maps/templates/env_sun_entity_template/lightmaps/lightmap_query_data.kv3 crc=6F85FF9B size=2.55KB size_in_bytes=2608
path=maps/templates/env_sun_entity_template/world.vrman_c crc=4853D57A size=711B size_in_bytes=711
path=maps/templates/env_sun_entity_template/world.vwrld_c crc=699DFFE1 size=2.02KB size_in_bytes=2073
path=maps/templates/env_sun_entity_template/worldnodes/node000.vrman_c crc=CE7B1764 size=900B size_in_bytes=900
path=maps/templates/env_sun_entity_template/worldnodes/node000.vwnod_c crc=7BCE0232 size=4.97KB size_in_bytes=5086
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b0_s_cb_mesh_mat0_reflectivity_30.vmdl_c crc=0AC502DB size=1.87KB size_in_bytes=1917
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b0_s_cb_mesh_mat0_reflectivity_30.vmesh_c crc=3D6BAB4A size=2.34KB size_in_bytes=2395
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b0_s_cb_vism46_mt_reflectivity_30.vmdl_c crc=02C53C00 size=1.89KB size_in_bytes=1933
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b0_s_cb_vism46_mt_reflectivity_30.vmesh_c crc=7FE09B1B size=2.03KB size_in_bytes=2076
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b10_s_cb_vism45_mt_reflectivity_30.vmdl_c crc=DC03EF86 size=1.89KB size_in_bytes=1934
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b10_s_cb_vism45_mt_reflectivity_30.vmesh_c crc=27CC06A8 size=2.11KB size_in_bytes=2160
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b11_s_cb_vism29_mt_reflectivity_30.vmdl_c crc=01D2FE4B size=1.89KB size_in_bytes=1934
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b11_s_cb_vism29_mt_reflectivity_30.vmesh_c crc=CBB14093 size=2.03KB size_in_bytes=2076
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b12_s_cb_vism39_mt_reflectivity_30.vmdl_c crc=19CDC219 size=1.87KB size_in_bytes=1918
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b12_s_cb_vism39_mt_reflectivity_30.vmesh_c crc=653D193D size=2.01KB size_in_bytes=2060
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b13_s_cb_vism45_mt_reflectivity_30.vmdl_c crc=E80E3A21 size=1.89KB size_in_bytes=1934
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b13_s_cb_vism45_mt_reflectivity_30.vmesh_c crc=5DF35B69 size=2.33KB size_in_bytes=2381
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b1_s_cb_mesh_mat0_reflectivity_30.vmdl_c crc=7B68A1DB size=1.87KB size_in_bytes=1917
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b1_s_cb_mesh_mat0_reflectivity_30.vmesh_c crc=B96ED52E size=2.00KB size_in_bytes=2052
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b1_s_cb_vism42_mt_reflectivity_30.vmdl_c crc=834B6A77 size=1.87KB size_in_bytes=1917
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b1_s_cb_vism42_mt_reflectivity_30.vmesh_c crc=B03B6628 size=2.30KB size_in_bytes=2353
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b2_s_cb_mesh_mat0_reflectivity_30.vmdl_c crc=DB6FAED9 size=1.87KB size_in_bytes=1917
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b2_s_cb_mesh_mat0_reflectivity_30.vmesh_c crc=741ADC81 size=2.11KB size_in_bytes=2163
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b2_s_cb_vism45_mt_reflectivity_30.vmdl_c crc=A7FAAABD size=1.87KB size_in_bytes=1917
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b2_s_cb_vism45_mt_reflectivity_30.vmesh_c crc=64A5E7B6 size=1.98KB size_in_bytes=2026
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b3_s_cb_vism32_mt_reflectivity_30.vmdl_c crc=77E7A1AF size=1.87KB size_in_bytes=1917
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b3_s_cb_vism32_mt_reflectivity_30.vmesh_c crc=694BCD6A size=2.24KB size_in_bytes=2296
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b4_s_cb_vism31_mt_reflectivity_30.vmdl_c crc=A3D8F090 size=1.87KB size_in_bytes=1917
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b4_s_cb_vism31_mt_reflectivity_30.vmesh_c crc=B5F7BA9F size=2.04KB size_in_bytes=2093
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b5_s_cb_vism47_mt_reflectivity_30.vmdl_c crc=08C7D426 size=1.89KB size_in_bytes=1933
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b5_s_cb_vism47_mt_reflectivity_30.vmesh_c crc=0AB67261 size=2.13KB size_in_bytes=2177
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b6_s_cb_vism45_mt_reflectivity_30.vmdl_c crc=CCD03C66 size=1.87KB size_in_bytes=1917
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b6_s_cb_vism45_mt_reflectivity_30.vmesh_c crc=7AC2FE70 size=2.30KB size_in_bytes=2357
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b7_s_cb_vism34_mt_reflectivity_30.vmdl_c crc=A635D28A size=1.87KB size_in_bytes=1917
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b7_s_cb_vism34_mt_reflectivity_30.vmesh_c crc=855BF906 size=2.35KB size_in_bytes=2405
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b8_s_cb_vism48_mt_reflectivity_30.vmdl_c crc=D6B7B56C size=1.89KB size_in_bytes=1933
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b8_s_cb_vism48_mt_reflectivity_30.vmesh_c crc=8889DAE9 size=2.32KB size_in_bytes=2379
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b9_s_cb_vism26_mt_reflectivity_30.vmdl_c crc=420A64AA size=1.89KB size_in_bytes=1933
path=maps/templates/env_sun_entity_template/worldnodes/node000_lr0_b9_s_cb_vism26_mt_reflectivity_30.vmesh_c crc=5BA88447 size=2.03KB size_in_bytes=2076
path=maps/templates/env_sun_entity_template/world_physics.vphys_c crc=5B5DB8E2 size=3.17KB size_in_bytes=3250
path=maps/templates/env_sun_entity_template/world_physics.vrman_c crc=A8319710 size=895B size_in_bytes=895
path=maps/templates/env_sun_entity_template/world_visibility.vvis_c crc=DC3D775D size=241.54KB size_in_bytes=247340
