path=maps/templates/env_particle_glow_template.nav crc=A4D19EFD size=9.68KB size_in_bytes=9913
path=maps/templates/env_particle_glow_template.vmap_c crc=24877F64 size=8.19KB size_in_bytes=8384
path=maps/templates/env_particle_glow_template/cubemaps/env_cubemap_array.vtex_c crc=53C95195 size=513.24KB size_in_bytes=525560
path=maps/templates/env_particle_glow_template/entities/default_ents.vents_c crc=5AF7D2CE size=8.02KB size_in_bytes=8216
path=maps/templates/env_particle_glow_template/entities/unnamed_291.vmdl_c crc=599DE64A size=1.92KB size_in_bytes=1964
path=maps/templates/env_particle_glow_template/entities/unnamed_291.vmesh_c crc=10E7CF58 size=1.05KB size_in_bytes=1072
path=maps/templates/env_particle_glow_template/entities/unnamed_291.vphys_c crc=984B6BE7 size=2.49KB size_in_bytes=2545
path=maps/templates/env_particle_glow_template/particle_snapshots/mesh_101.vsnap_c crc=906D093D size=1.13KB size_in_bytes=1161
path=maps/templates/env_particle_glow_template/particle_snapshots/mesh_114.vsnap_c crc=CDDA4E0F size=732B size_in_bytes=732
path=maps/templates/env_particle_glow_template/particle_snapshots/node_101.vsnap_c crc=E1AD4117 size=1.49KB size_in_bytes=1529
path=maps/templates/env_particle_glow_template/particle_snapshots/node_114.vsnap_c crc=213BF60B size=1.07KB size_in_bytes=1100
path=maps/templates/env_particle_glow_template/particle_snapshots/node_117_5.vsnap_c crc=D2A82B1A size=1.36KB size_in_bytes=1396
path=maps/templates/env_particle_glow_template/particle_snapshots/node_165.vsnap_c crc=3DC30815 size=1.15KB size_in_bytes=1178
path=maps/templates/env_particle_glow_template/particle_snapshots/node_197.vsnap_c crc=DFD5E406 size=996B size_in_bytes=996
path=maps/templates/env_particle_glow_template/particle_snapshots/node_201_5.vsnap_c crc=2094FFC2 size=1.36KB size_in_bytes=1390
path=maps/templates/env_particle_glow_template/particle_snapshots/node_203.vsnap_c crc=A022C097 size=2.49KB size_in_bytes=2553
path=maps/templates/env_particle_glow_template/particle_snapshots/node_231.vsnap_c crc=767ADC91 size=1.55KB size_in_bytes=1587
path=maps/templates/env_particle_glow_template/particle_snapshots/node_235.vsnap_c crc=3CE0DFDF size=1.39KB size_in_bytes=1428
path=maps/templates/env_particle_glow_template/particle_snapshots/node_239.vsnap_c crc=23FE283C size=1.28KB size_in_bytes=1307
path=maps/templates/env_particle_glow_template/particle_snapshots/node_243.vsnap_c crc=EF9624E4 size=1.28KB size_in_bytes=1307
path=maps/templates/env_particle_glow_template/particle_snapshots/node_249.vsnap_c crc=954A3891 size=1.36KB size_in_bytes=1390
path=maps/templates/env_particle_glow_template/particle_snapshots/node_253.vsnap_c crc=930BBF71 size=1.34KB size_in_bytes=1371
path=maps/templates/env_particle_glow_template/particle_snapshots/node_257.vsnap_c crc=01E3D05A size=936B size_in_bytes=936
path=maps/templates/env_particle_glow_template/particle_snapshots/node_261.vsnap_c crc=76494895 size=1.33KB size_in_bytes=1357
path=maps/templates/env_particle_glow_template/particle_snapshots/node_265.vsnap_c crc=5591E56F size=1.42KB size_in_bytes=1453
path=maps/templates/env_particle_glow_template/particle_snapshots/node_269.vsnap_c crc=67BFBCC7 size=931B size_in_bytes=931
path=maps/templates/env_particle_glow_template/particle_snapshots/node_273.vsnap_c crc=90DCA08E size=931B size_in_bytes=931
path=maps/templates/env_particle_glow_template/particle_snapshots/node_277.vsnap_c crc=CA8B98D9 size=993B size_in_bytes=993
path=maps/templates/env_particle_glow_template/particle_snapshots/node_281.vsnap_c crc=CB076E06 size=1.51KB size_in_bytes=1544
path=maps/templates/env_particle_glow_template/particle_snapshots/node_285.vsnap_c crc=A3A7D7BD size=1.51KB size_in_bytes=1544
path=maps/templates/env_particle_glow_template/particle_snapshots/node_335.vsnap_c crc=EA7A2465 size=1.36KB size_in_bytes=1390
path=maps/templates/env_particle_glow_template/world.vrman_c crc=FBEA0936 size=736B size_in_bytes=736
path=maps/templates/env_particle_glow_template/world.vwrld_c crc=50905F6C size=1.59KB size_in_bytes=1624
path=maps/templates/env_particle_glow_template/worldnodes/node000.vrman_c crc=053FF0BA size=919B size_in_bytes=919
path=maps/templates/env_particle_glow_template/worldnodes/node000.vwnod_c crc=26806D15 size=28.36KB size_in_bytes=29043
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b0_s_cb_mesh_base.vmdl_c crc=0CBA5756 size=1.83KB size_in_bytes=1874
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b0_s_cb_mesh_base.vmesh_c crc=D032C5EE size=2.03KB size_in_bytes=2078
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b0_s_cb_mesh_mat0_reflectivity_30.vmdl_c crc=9660C38E size=1.88KB size_in_bytes=1920
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b0_s_cb_mesh_mat0_reflectivity_30.vmesh_c crc=3151E143 size=2.35KB size_in_bytes=2406
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b0_s_cb_vism33_mt_reflectivity_30.vmdl_c crc=8FECFC19 size=1.88KB size_in_bytes=1920
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b0_s_cb_vism33_mt_reflectivity_30.vmesh_c crc=1936A750 size=2.22KB size_in_bytes=2276
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b10_s_cb_vism46_mt_reflectivity_30.vmdl_c crc=43922B52 size=1.89KB size_in_bytes=1937
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b10_s_cb_vism46_mt_reflectivity_30.vmesh_c crc=24C21607 size=2.11KB size_in_bytes=2164
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b11_s_cb_vism44_mt_reflectivity_30.vmdl_c crc=B29BA7E7 size=1.89KB size_in_bytes=1937
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b11_s_cb_vism44_mt_reflectivity_30.vmesh_c crc=C7F438A6 size=2.01KB size_in_bytes=2058
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b12_s_cb_vism46_mt_reflectivity_30.vmdl_c crc=7A95FA7C size=1.89KB size_in_bytes=1937
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b12_s_cb_vism46_mt_reflectivity_30.vmesh_c crc=63FA3C24 size=2.30KB size_in_bytes=2353
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b13_s_cb_vism48_mt_reflectivity_30.vmdl_c crc=313BD52D size=1.89KB size_in_bytes=1937
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b13_s_cb_vism48_mt_reflectivity_30.vmesh_c crc=42FDFCA0 size=2.04KB size_in_bytes=2092
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b14_s_cb_vism35_mt_reflectivity_30.vmdl_c crc=61538AD9 size=1.89KB size_in_bytes=1937
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b14_s_cb_vism35_mt_reflectivity_30.vmesh_c crc=F937585C size=2.17KB size_in_bytes=2221
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b15_s_cb_vism6_mt_default_concrete_wall00.vmdl_c crc=40A0CFA1 size=1.91KB size_in_bytes=1958
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b15_s_cb_vism6_mt_default_concrete_wall00.vmesh_c crc=6EEC2A0C size=2.16KB size_in_bytes=2207
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b1_s_cb_mesh_mat0_reflectivity_30.vmdl_c crc=BCDCFA6D size=1.88KB size_in_bytes=1920
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b1_s_cb_mesh_mat0_reflectivity_30.vmesh_c crc=215FEAC2 size=2.02KB size_in_bytes=2068
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b1_s_cb_vism36_mt_reflectivity_30.vmdl_c crc=F7627723 size=1.88KB size_in_bytes=1920
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b1_s_cb_vism36_mt_reflectivity_30.vmesh_c crc=4FDA66C3 size=2.17KB size_in_bytes=2224
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b2_s_cb_mesh_mat0_reflectivity_30.vmdl_c crc=EAE3D488 size=1.89KB size_in_bytes=1936
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b2_s_cb_mesh_mat0_reflectivity_30.vmesh_c crc=C9F193B8 size=2.12KB size_in_bytes=2171
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b2_s_cb_vism48_mt_reflectivity_30.vmdl_c crc=A28D2B65 size=1.89KB size_in_bytes=1936
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b2_s_cb_vism48_mt_reflectivity_30.vmesh_c crc=286CEA7B size=2.01KB size_in_bytes=2058
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b3_s_cb_vism13_mt_stained_glass_a.vmdl_c crc=EA497755 size=1.89KB size_in_bytes=1938
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b3_s_cb_vism13_mt_stained_glass_a.vmesh_c crc=0866EBC1 size=1.96KB size_in_bytes=2004
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b4_s_cb_vism19_mt_reflectivity_30.vmdl_c crc=4E7314A5 size=1.89KB size_in_bytes=1936
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b4_s_cb_vism19_mt_reflectivity_30.vmesh_c crc=A6DC2205 size=2.10KB size_in_bytes=2155
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b5_s_cb_vism42_mt_reflectivity_30.vmdl_c crc=030E3BD3 size=1.89KB size_in_bytes=1936
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b5_s_cb_vism42_mt_reflectivity_30.vmesh_c crc=C4DAD47A size=2.54KB size_in_bytes=2599
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b6_s_cb_vism46_mt_reflectivity_30.vmdl_c crc=FAB29D15 size=1.89KB size_in_bytes=1936
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b6_s_cb_vism46_mt_reflectivity_30.vmesh_c crc=4E39FF0F size=2.20KB size_in_bytes=2254
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b7_s_cb_vism21_mt_reflectivity_30.vmdl_c crc=4A92B7E4 size=1.89KB size_in_bytes=1936
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b7_s_cb_vism21_mt_reflectivity_30.vmesh_c crc=6447ECBA size=2.01KB size_in_bytes=2058
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b8_s_cb_vism43_mt_reflectivity_30.vmdl_c crc=C558B4C3 size=1.89KB size_in_bytes=1936
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b8_s_cb_vism43_mt_reflectivity_30.vmesh_c crc=01D8FD3B size=2.28KB size_in_bytes=2333
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b9_s_cb_vism47_mt_reflectivity_30.vmdl_c crc=5FF53C8A size=1.88KB size_in_bytes=1920
path=maps/templates/env_particle_glow_template/worldnodes/node000_lr0_b9_s_cb_vism47_mt_reflectivity_30.vmesh_c crc=7DC7443A size=2.31KB size_in_bytes=2370
path=maps/templates/env_particle_glow_template/world_physics.vphys_c crc=A2BF2EBA size=74.38KB size_in_bytes=76160
path=maps/templates/env_particle_glow_template/world_physics.vrman_c crc=BEC492B2 size=898B size_in_bytes=898
path=maps/templates/env_particle_glow_template/world_visibility.vvis_c crc=817002B3 size=244.66KB size_in_bytes=250532
